@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@100&family=Outfit:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(217, 54%, 11%);
  display: flex;
}
.content {
  background-color: hsl(216, 54%, 16%);
  width: 400px;
  height: 600px;
  margin-top: 180px;
  margin-left: 700px;
  border: none;
  border-radius: 10px;
}
.content img {
  display: flex;
  width: 350px;
  height: 350px;
  padding-top: 20px;
  padding-left: 40px;
}
.content h2 {
  font-size: 20px;
  font-family: "Outfit", sans-serif;
  color: white;
  padding-left: 40px;
}
.content p {
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  font-weight: 800;
  color: hsl(215, 32%, 27%);
  padding-top: 18px;
  padding-left: 40px;
}
